<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>海云抽奖</title>
  <link rel="stylesheet" href="./index.css">
  <script type="text/javascript" src="./vue/dist/vue.js"></script>
</head>

<body>
  <div id="lottery" class="page">
    <div class="lottery" :class="{'open': isOpen,}">
      <template v-if="!isOpen">
        <!-- <div class="lottery-header"></div> -->
        <img src="./image//award_imgs//cover.jpg" alt="" class="coverImg">
        <div class="lottery-open" :class="{whenClick:isClick}" @click="whenClickPack">開</div>
        <!-- <div class="lottery-content">
          广州大海云
        </div> -->
      </template>
      <template v-else>
        <div class="lottery-header-open">
          <div class="open-top"></div>
          <div class="open-bottom"></div>
        </div>
       <div class="lottery-content-open" :class="{'lose': !success}">
          <template v-if="success">
            <!-- <img :src='prize.imgUrl' :alt="prize.desc" class="awardImg"> -->
            <div class="awardImg" :style="`background-image: url(${prize.imgUrl});`"></div>
            <!-- <div class="awardImg" ><img :src='prize.imgUrl' :alt="prize.desc" class="awardImg"></div> -->
          </template>
          <template v-else>
            <!-- <img src="./image/award_imgs/noPrice.jpg" /> -->
            <div class="awardImg" style="background-image:url(./image/award_imgs/noPrice.jpg)"></div>
          </template>
        </div>
      </template>
    </div>

    <div class="reset" @click="reset">重置</div>
  </div>
  <script type="text/javascript" src="./prize.js"></script>
  <script type="text/javascript" src="./index.js"></script>
</body>

</html>